.extension-list {
  width: 100%;
}

.extension-list__card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

@media screen and (max-width: 768px) {
  .extension-list__card-container {
    grid-template-columns: repeat(1, 1fr);
  }
  
}