.extension-list {
  width: 100%;
}

.extension-list__card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.extension-list .extension-list__card-container:has(.extension-list__no-extensions) {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 200px;
  font-size: 1.2rem;
}


@media screen and (max-width: 768px) {
  .extension-list__card-container {
    grid-template-columns: repeat(1, 1fr);
  }
}